<p>Update Shop!</p>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Updated successfully.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="editShop" (ngSubmit)="collection()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
      <label>adress</label>
      <input type="text" class="form-control" placeholder="Enter adress" formControlName="adress">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>