<p>Add New Shop!</p>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addShop" (ngSubmit)="collectShop()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
      <label>adress</label>
      <input type="text" class="form-control" placeholder="Enter adress" formControlName="adress">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>